(
    name: "Katie",
    description: "A custom map",
    celestial_bodies: [
        (
            name: "Slut 1",
            mass: 10000.0,
            radius: 5000.0,
            color: (
                r: 0.5,
                g: 0.5,
                b: 0.8,
                a: 1.0,
            ),
            orbital_parent_index: None,
            orbital_distance: None,
            orbital_period: None,
            initial_angle: 0.0,
            is_pinned: true,
        ),
        (
            name: "Katie home land",
            mass: 1000.0,
            radius: 100.0,
            color: (
                r: 0.8,
                g: 0.1,
                b: 0.5,
                a: 1.0,
            ),
            orbital_parent_index: Some(0),
            orbital_distance: Some(5000.0),
            orbital_period: Some(420.0),
            initial_angle: 0.0,
            is_pinned: false,
        ),
    ],
    player_spawn_body_index: 0,
    central_body_index: None,
)